//Tamaño Media Queries 
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuente_principal: "Karla", sans-serif;

//Colores
$Green200: hsl(148, 38%, 91%); //lighter
$Green600: hsl(169, 82%, 27%); //medium
$Red: hsl(0, 66%, 54%);

$White: hsl(0, 0%, 100%);
$Grey500: hsl(186, 15%, 59%); //medium
$Grey900: hsl(187, 24%, 22%);

//Tamaños fuente
$regular: 400;
$bold: 700;